
.svg-background {
  background: url("../img/bg-pattern.png"), $head-primary;
}

.main {
  max-width: 960px;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 60px auto 0;

  section {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-wrapper {
    background: #fff;
    padding: 30px 300px 30px 30px;
    @media print {
      padding-right: 290px;
    }
    h1 {
      text-transform: uppercase;
      font-size: $cv-font-size-head;
      font-weight: 900;
      color: $head-primary;
      position: relative;
      margin-top: 0;
      margin-bottom: 25px;
      @media print {
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
    }
    h2 {
      @media print {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .intro {
      margin-top: 10px;
      font-size: $cv-font-size-content;
      text-align: justify;
    }
    .section-title {
      font-size: $cv-font-size-subhead;
      font-weight: 600;
      color: $head-primary;
      position: relative;
      margin-top: 60px;
      margin-bottom: 30px;
      @media print {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 400;
      }
      .fa {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        display: inline-block;
        color: $head-primary;
        text-align: center;
        font-size: $cv-font-size-content;
        position: relative;
        top: -2px;
        @media print {
          top: 0;
        }
      }
    }
    .print-space{
      page-break-after: always;
    }
    .print-margin-top {
      @media print {
        margin-top: 35px;
      }
    }
    .job-section{
      margin-bottom: 50px;
    }

    .job-title {
      font-size: $cv-font-size-title;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .sub-section-title {
      font-size: $cv-font-size-title;
      position: relative;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .time {
      position: absolute;
      font-size: $cv-font-size-content;
      right: 315px;
      color: $head-primary;
      opacity: 0.7;
      @media print {
        margin-top: 5px;
        right: 280px;
      }
    }
    .company {
      font-size: $cv-font-size-content;
      opacity: 0.7;
      color: $head-primary;
    }

    .skills-title {
      font-size: $cv-font-size-content;
      opacity: 0.7;
      color: $head-primary;
    }
    .content {
      font-size: $cv-font-size-content;
      .fa {
        width: 0;
        height: 0;
        margin-right: 8px;

        text-align: center;
        font-size: 4px;
        position: relative;
        top: -4px;
      }
    }
  }
}

div {
  .sidebar {
    position: absolute;
    right: 0;
    width: 255px;
    height: 100%;
    min-height: 800px;
    color: #fff;

    .sidebar-wrapper {
      background: $head-primary;
      position: absolute;
      right: 0;
      width: 255px;
      height: 100%;
      min-height: 800px;
      color: #fff;

      .print-space{
        page-break-after: always;
        @media print {
          padding-bottom: 75px;
        }
      }
      .cert-space{
        @media print {
          padding-bottom: 25px;
        }
      }
      .db-space{
        @media print {
          padding-bottom: 165px;
        }
      }
      .vcs-space{
        @media print {
          padding-bottom: 195px;
        }
      }
      a {
        color: #fff;
      }
      .profile-container {
        padding: 20px;
        text-align: center;
        color: #fff;
        @media print {
          padding-bottom: 10px;
        }
      }
      .name {
        font-size: xx-large;
        @media print {
          font-size: x-large;
        }
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 10px;
      }
      .tagline {
        color: #fff;
        font-size: medium;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
      }
      .profile {
        margin-bottom: 15px;
      }

      .contact-list {
        .fa {
          margin-right: 5px;
          font-size: medium;
          vertical-align: middle;
        }
        li {
          font-size: medium;
          @media print {
            font-size: $cv-font-size-content;
          }
          margin-bottom: 10px;
        }
        li:last-child {
          margin-bottom: 0;
        }
        .email .fa {
          font-size: medium;
        }
        margin-bottom: 0;
      }
      .container-block {
        padding: 35px 20px 20px;
        @media print {
          padding-bottom: 10px;
        }
      }

      .container-block-title {
        text-transform: uppercase;
        font-size: large;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
      }
      .degree {
        font-size: medium;
        margin-top: 0;
        margin-bottom: 5px;
      }

      .languages-container .lang-desc {

        color: rgba(255, 255, 255, 0.6);
      }
      .languages-list {
        margin-bottom: 0;
      }
      .languages-list li {
        font-size: medium;
        @media print {
          font-size: $cv-font-size-content;
        }
        margin-bottom: 10px;
      }
      .languages-list li:last-child {
        margin-bottom: 0;
      }
      .interests-list {
        margin-bottom: 0;
      }
      .interests-list li {
        font-size: medium;
        @media print {
          font-size: $cv-font-size-content;
        }
        margin-bottom: 8px;
      }
      .interests-list li:last-child {
        margin-bottom: 0;
      }
    }
    @media print {
      -webkit-print-color-adjust: exact;
    }
  }
}

.hidden-print{
  @media print {

  }
}