// Styling for the features section
section.features {
    .section-heading {
        margin-bottom: 50px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }

    .section-post-heading {
        margin-bottom: 50px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container, .feature-item {
        max-width: 300px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
    }
    .feature-item {
        text-align: center;
        margin-bottom: 20px;
        padding-top: 0;
        h3 {
            font-size: 30px;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        .icon-space {
            margin-bottom: 20px;
        }
        .feature-header{
            margin-top: 15px;
        }
        i {
            font-size: 80px;
            margin-top: 20px;
            background: -webkit-linear-gradient(to left, $head-primary, $head-secondary);
            background: linear-gradient(to left, $head-primary, $head-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
