<header id="impressum-head">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Impressum</h1>

                        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
                        <p>Alen Tolj<br />
                            Craft Solutions IT Consulting Alen Tolj<br />
                            Einsteinstr, 34<br />
                            82152 Planegg</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
