<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2 class="section-heading">Impressum</h2>
                        <h5 class="h5-impressum">Angaben gemäß § 5 TMG:</h5>
                        <div class="text-impressum">Alen Tolj
                            <br>Craft Solutions IT Consulting Alen Tolj
                            <br>Einsteinstr. 34
                            <br> 82152 Planegg</div>
                        <h5 class="h5-impressum">Kontakt:</h5>
                        <div class="text-impressum">Telefon: 015111122318
                            <br>E-Mail: tolj@craftsolutions.de</div>
                        <h5 class="h5-impressum">Umsatzsteuer-ID: </h5>
                        <div class="text-impressum">Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
                            <br>DE308881517
                            <br>
                            <br>Quelle: <a class="details-link" target="_blank" href="https://www.e-recht24.de">https://www.e-recht24.de</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
