
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h3 class="section-head">Kontakt</h3>
        <h4>Zögern Sie nicht mich zu kontaktieren.</h4>
        <div class="contact-row row">
            <div class="col col-4">
                <div class="kontakt-details"><img class="contact-image" sizes="(max-width: 479px) 84vw, (max-width: 767px) 85vw, (max-width: 991px) 197.390625px, 260.984375px" src="/img/alen.jpg" srcset="img/alen-p-500x498.jpeg 500w, img/alen-p-800x797.jpeg 800w, img/alen-p-1080x1075.jpeg 1080w, img/alen-p-1600x1593.jpeg 1600w, img/alen.jpg 1909w" width="500">
                </div>
            </div>
            <div class="col col-4">
                <div class="contact-adress">
                    <h5 class="contact-title">Alen Tolj</h5>
                    <div class="contact-sub">Einsteinstr. 34, 82152 Planegg</div>
                    <h5 class="contact-title">Telefon</h5>
                    <div class="contact-sub">+49 (0) 151 111 22 318</div>
                    <h5 class="contact-title">Email</h5>
                    <div class="contact-sub">tolj@craftsolutions.de</div>
                    <div class="twitter-follow w-widget w-widget-twitter">
                        <iframe src="https://platform.twitter.com/widgets/follow_button.html#screen_name=toljalen&amp;show_count=false&amp;size=l&amp;show_screen_name=true&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 100%; height: 28px;"></iframe>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="form">
                    <form class="contact-form clearfix" data-name="Email Form" id="email-form" name="email-form">
                        <input class="input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Ihr Name" required="required" type="text">
                        <input class="input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Ihre Email Addresse" required="required" type="email">
                        <textarea class="contact-text input" data-name="Nachricht" id="Nachricht" maxlength="5000" name="Nachricht" placeholder="Ihre Nachricht an mich" required="required"></textarea>
                        <input class="button send-mail button" data-wait="Please wait..." type="submit" value="Submit">
                    </form>
                    <div class="form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="form-fail">
                        <div>Oops! Something went wrong while submitting the form</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-container w-container">
        <a class="w-inline-block" href="https://twitter.com/toljalen"><img class="social-icons" sizes="100vw" src="img/twitter.png" srcset="img/twitter-p-500x500.png 500w, img/twitter.png 512w" width="64">
        </a>
        <a class="w-inline-block" href="https://plus.google.com/111769893704509866095"><img class="social-icons" sizes="100vw" src="img/google-plus.png" srcset="img/google-plus-p-500x500.png 500w, img/google-plus.png 512w" width="64">
        </a>
        <a class="w-inline-block" href="https://de.linkedin.com/in/alen-tolj"><img class="social-icons" sizes="100vw" src="img/linkedin.png" srcset="img/linkedin-p-500x500.png 500w, img/linkedin.png 512w" width="64">
        </a>
        <a class="w-inline-block" href="https://www.xing.com/profile/Alen_Tolj"><img class="social-icons" sizes="100vw" src="img/xing.png" srcset="img/xing-p-500x500.png 500w, img/xing.png 512w" width="64">
        </a>
    </div>
    <!--<div class="container">-->
        <!--<h2>We <i class="fa fa-heart"></i> new friends!</h2>-->
        <!--<ul class="list-inline list-social">-->
            <!--{% for network in site.social %}-->
            <!--<li class="social-{{ network.title }}">-->
                <!--<a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>-->
            <!--</li>-->
        <!--{% endfor %}-->
        <!--</ul>-->
        <!--&lt;!&ndash; <ul class="list-inline list-social">-->
            <!--<li class="social-twitter">-->
                <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
            <!--</li>-->
            <!--<li class="social-facebook">-->
                <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
            <!--</li>-->
            <!--<li class="social-google-plus">-->
                <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
            <!--</li>-->
        <!--</ul> &ndash;&gt;-->
    <!--</div>-->
</section>
<footer>
    <div class="container">
        <p>Theme by <a rel="nofollow" target="blank" href="https://startbootstrap.com/template-overviews/new-age/">Start Bootstrap</a> Built with <a target="_blank" rel="nofollow" href="https://jekyllrb.com/">Jekyll</a> by <a target="_blank" rel="nofollow" href="https://de.linkedin.com/in/alen-tolj">Alen Tolj</a> hosted on <a target="_blank" rel="nofollow" href="https://github.com/jekynewage/jekynewage.github.io">Github</a>.</p>
        <ul class="list-inline">
            <li>
                <a href="/impressum">Impressum</a>
            </li>
        </ul>
    </div>
</footer>
