<section class="section">
    <h2 class="section-title"><i class="fas fa-user"></i>Schulischer Werdegang</h2>
    <div>
        <div class="time">03/2006 - 09/2010</div>
        <div class="job-title">Angewandte Informatik B. Sc. (2,3)</div>
        <div class="company">Hochschule für Technik und Wirtschaft Aalen</div>
        <div class="content">Angewandte Informatik mit der Vertiefungsrichtung auf Softwaretechnik</div>
    </div>
    <div>
        <div class="time">03/2010 - 09/2010</div>
        <div class="job-title">Bachelorarbeit (1,0)</div>
        <div class="company">Hochschule für Technik und Wirtschaft Aalen</div>
        <div class="content">Ein paralleler genetischer Algorithmus für das Bin Packing Problem</div>
    </div>

</section><!--//section-->