<!-- Use icons from fontawesome when you are adding new item in the contact list  -->

<div class="sidebar">
    <div class="sidebar-wrapper">

        <div class="cert-space">
            <div class="profile-container">
                <img class="profile-img" src="/img/alen.png" alt="profile picture" />
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Alen Tolj{% endif %}</h1>
                <h3 class="tagline">Platform Engineer</h3>
                <h3 class="tagline">Site Reliability Engineer</h3>
                <h3 class="tagline">Solutions Architect</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">

                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto:tolj@craftsolutions.de">tolj@craftsolutions.de</a></li>

                    <li class="phone"><i class="fas fa-phone"></i><a href="tel:+49 (0)151 11122318">+49(0)151-11122318</a></li>

                    <li class="website"><i class="fas fa-globe"></i><a href="http://craftsolutions.de" target="_blank">craftsolutions.de</a></li>

                    <li class="linkedin"><i class="fab fa-linkedin"></i><a href="https://de.linkedin.com/in/alen-tolj" target="_blank">linkedin.com/in/alen-tolj</a></li>

                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/atolj" target="_blank">github.com/atolj</a></li>

                    <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/toljalen" target="_blank">@toljalen</a></li>

                </ul>
            </div>
            <!--//Sprachen-->
            <div class="languages-container container-block">
                <h2 class="container-block-title">Sprachen</h2>
                <ul class="list-unstyled interests-list">
                    <li>Deutsch <span class="lang-desc">(Muttersprache)</span></li>
                    <li>Kroatisch <span class="lang-desc">(Fließend)</span></li>
                    <li>English <span class="lang-desc">(Fließend)</span></li>
                </ul>
            </div>
            <!--//Weiterbildungen-->
             <div class="languages-container container-block">
                 <h2 class="container-block-title">Weiterbildungen</h2>
                 <ul class="list-unstyled interests-list">
                     <li>Google Cloud Essential Cloud Infrastructure: Foundation</li>
                     <li>Google Cloud Essential Cloud Infrastructure: Core Services</li>
                     <li>Google Cloud Essential Cloud Infrastructure: Apps & Containers</li>
                     <li>Architecting for Continuous Delivery and Zero Downtime</li>
                     <li>Spring Master Class</li>
                     <li>Machine Learning</li>
                     <li>AngularJS</li>
                     <li>Neo4j Tutorial</li>
                     <li>Gradle Training</li>
                     <li>Concurrency Tutorial</li>
                 </ul>
             </div>
        </div>
        <div class="db-space">
            <!--//Zertifikate-->
             <div class="languages-container container-block">
                 <h2 class="container-block-title">Zertifikate</h2>
                 <ul class="list-unstyled interests-list">
                     <li>Spring Certified Professional</li>
                     <li>Professional Scrum Master I</li>
                     <li>MongoDB - Java Developer</li>
                     <li>ISTQB Certified Tester</li>
                     <li>iSQI Certified Professional for Software Architecture</li>
                 </ul>
             </div>

            <!--//Programmiersprachen-->
             <div class="languages-container container-block">
                 <h2 class="container-block-title">Programmierung</h2>
                 <ul class="list-unstyled interests-list">
                     <li>Java <span class="lang-desc">(7 Jahre)</span></li>
                     <li>JavaScript <span class="lang-desc">(3,5 Jahre)</span></li>
                     <li>Groovy <span class="lang-desc">(3,5 Jahre)</span></li>
                     <li>Python <span class="lang-desc">(1 Jahr)</span></li>
                     <li>Go Lang<span class="lang-desc">(0,5 Jahre)</span></li>
                 </ul>
             </div><!--//Frameworks-->
             <div class="languages-container container-block">
                 <h2 class="container-block-title">Frameworks</h2>
                 <ul class="list-unstyled interests-list">
                     <li>Spring Core <span class="lang-desc">(7 Jahre)</span></li>
                     <li>Hibernate <span class="lang-desc">(6 Jahre)</span></li>
                     <li>Spring Boot <span class="lang-desc">(2 Jahre)</span></li>
                     <li>RabbitMQ <span class="lang-desc">(1,5 Jahre)</span></li>
                     <li>Spring MVC <span class="lang-desc">(1 Jahr)</span></li>
                     <li>Spring Security <span class="lang-desc">(1 Jahr)</span></li>
                 </ul>
             </div>
            <!--//Webtechnologien-->
            <div class="languages-container container-block">
                <h2 class="container-block-title">Webtechnologien</h2>
                <ul class="list-unstyled interests-list">
                    <li>HTML5 <span class="lang-desc">(3,5 Jahre)</span></li>
                    <li>CSS <span class="lang-desc">(3,5 Jahre)</span></li>
                    <li>Wicket <span class="lang-desc">(3,5 Jahre)</span></li>
                    <li>Bootstrap <span class="lang-desc">(3 Jahre)</span></li>
                    <li>AngularJS <span class="lang-desc">(1,5 Jahre)</span></li>
                    <li>TypeScript <span class="lang-desc">(1,5 Jahre)</span></li>
                    <li>React <span class="lang-desc">(0,5 Jahre)</span></li>
                </ul>
            </div>
        </div>
        <!--//Datenbanken-->
        <div class="vcs-space">
            <div class="languages-container container-block">
                <h2 class="container-block-title">Datenbanken</h2>
                <ul class="list-unstyled interests-list">
                    <li>Oracle SQL <span class="lang-desc">(5 Jahre)</span></li>
                    <li>Redis <span class="lang-desc">(1,5 Jahre)</span></li>
                    <li>PostgreSQL <span class="lang-desc">(1 Jahr)</span></li>
                </ul>
            </div>

            <!--//Infrastruktur-->
            <div class="languages-container container-block">
                <h2 class="container-block-title">Infrastruktur</h2>
                <ul class="list-unstyled interests-list">
                    <li>Apache Tomcat <span class="lang-desc">(4,5 Jahre)</span></li>
                    <li>Apache HTTP Server <span class="lang-desc">(4,5 Jahre)</span></li>
                    <li>Docker <span class="lang-desc">(2 Jahre)</span></li>
                    <li>RHEL 7 <span class="lang-desc">(1 Jahr)</span></li>
                    <li>CentOS 7 <span class="lang-desc">(1 Jahr)</span></li>
                    <li>Google Cloud<span class="lang-desc">(0,5 Jahr)</span></li>
                </ul>
            </div>
            <!--//Deployment Tools-->
            <div class="languages-container container-block">
                <h2 class="container-block-title">Deployment Tools</h2>
                <ul class="list-unstyled interests-list">
                    <li>Jenkins<span class="lang-desc">(6,5 Jahre)</span></li>
                    <li>Bitbucket<span class="lang-desc">(2,5 Jahre)</span></li>
                    <li>Kubernetes <span class="lang-desc">(1,5 Jahr)</span></li>
                    <li>Docker Swarm <span class="lang-desc">(1 Jahr)</span></li>
                    <li>Openshift <span class="lang-desc">(1 Jahr)</span></li>
                    <li>Ansible <span class="lang-desc">(1 Jahr)</span></li>
                    <li>Puppet 4 <span class="lang-desc">(1 Jahr)</span></li>
                    <li>Google Container Builder <span class="lang-desc">(0,5 Jahre)</span></li>
                </ul>
            </div>
            <!--//Build-Werkzeuge-->
            <div class="languages-container container-block">
                <h2 class="container-block-title">Buildwerkzeuge</h2>
                <ul class="list-unstyled interests-list">
                    <li>Maven <span class="lang-desc">(5,5 Jahre)</span></li>
                    <li>Gradle <span class="lang-desc">(1,5 Jahre)</span></li>
                    <li>Npm <span class="lang-desc">(0,5 Jahre)</span></li>
                    <li>Yarn <span class="lang-desc">(0,5 Jahre)</span></li>
                    <li>Dep <span class="lang-desc">(0,5 Jahre)</span></li>
                </ul>
            </div>
        </div>
        <!--//Versionsverwaltung-->
        <div class="languages-container container-block">
            <h2 class="container-block-title">Versionskontrolle</h2>
            <ul class="list-unstyled interests-list">
                <li>GIT <span class="lang-desc">(4,5 Jahre)</span></li>
                <li>SVN <span class="lang-desc">(2,5 Jahre)</span></li>
                <li>CVS <span class="lang-desc">(1 Jahr)</span></li>
            </ul>
        </div>
        <!--//Interessen-->
        <div class="languages-container container-block">
            <h2 class="container-block-title">Interessen</h2>
            <ul class="list-unstyled interests-list">
                <li>AWS Lambda</li>
                <li>Cloud Functions</li>
                <li>Google AutoML</li>
                <li>TensorFlow</li>
                <li>Spark</li>
                <li>Spark MLib</li>
            </ul>
        </div>
    </div><!--//sidebar-wrapper-->
</div>