<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <h2 class="section-heading">Mein Profil können Sie an dieser Stelle im PDF-Format herunterladen.</h2>
                <div class="badges">
                    <a class="btn btn-outline-second btn-xl page-scroll" href="/resources/profil.pdf">Download</a>
                </div>
            </div>
        </div>
    </div>
</section>
