<section id="certificates" class="download bg-primary text-center bg-border">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <h2 class="section-heading">Laden Sie Kopien meiner Referenzen im PDF-Format herunterladen.</h2>
                <div class="badges">
                    <a class="btn btn-outline-second btn-xl page-scroll badge-link" href="/resources/refs.pdf">Download</a>
                </div>
            </div>
        </div>
    </div>
</section>
