<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Als externer Berater unterstütze ich meine Kunden die Zuverlässigkeit, Wartbarkeit und Sicherheit von Softwarelösungen zu gewährleisten.</h1>
                        <p>Falls Sie auf der Suche nach externer Unterstützung sind, nehmen Sie jederzeit Kontak auf.</p>
                        <a href="#contact" class="btn btn-outline btn-xl page-scroll">Kontakt</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/alen-call.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
