
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>QUALIFIKATION</h2>
                    <p class="text-muted">Ich bin ein freiberuflicher Software Engineer. Im Laufe meines Berufslebens konnte ich in folgenden Bereichen fundierte Erfahrungen sammeln.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="feature-item">
                        <h3>Technologien</h3>
                        <div class="col-md-6 col-xs-12 centered">
                            <p class="text-muted">„Wir können nur eine kurze Distanz in die Zukunft blicken, aber dort können wir eine Menge sehen, was getan werden muss.“</p>
                            <p class="text-muted">Alan Turning</p>
                            <div class="icon-space"><i class="icon-chemistry text-primary"></i></div>
                            <p class="text-muted">Durch die Auswahl der richtigen Werkzeuge, kann eine Menge bewältigt werden. Technologien sollten jedoch mit bedacht ausgewählt und auf den Umfeld abgestimmt werden.</p>
                        </div>
                        <div class="col-md-3 col-xs-6 centered">
                            {% include front/skill.html skills=site.data.tec_programming %}
                            {% include front/skill.html skills=site.data.tec_frameworks %}
                            {% include front/skill.html skills=site.data.tec_database %}
                        </div>
                        <div class="col-md-3 col-xs-6 centered">
                            {% include front/skill.html skills=site.data.tec_webtech %}
                            {% include front/skill.html skills=site.data.tec_infrastructure %}
                            {% include front/skill.html skills=site.data.tec_versioncontrol %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="feature-item">
                        <h3>Methodik</h3>
                        <div class="col-md-6 col-xs-12 centered">
                            <p class="text-muted">„Scrum akzeptiert, dass der Entwicklungsprozess nicht vorherzusehen ist. Das Produkt ist die bestmögliche Software unter Berücksichtigung der Kosten, der Funktionalität, der Zeit und der Qualität.“</p>
                            <p class="text-muted">Boris Gloger</p>
                            <div class="icon-space"><i class="icon-refresh text-primary"></i></div>
                            <p class="text-muted">Die größte Herausforderung in der Softwareentwicklung ist es, den nötigen Funktionsumfang mit hoher Qualität bis zu einer bestimmten Deadline zu liefern. Ein gut durchdachter Entwicklungsprozess ist dabei essenziell.</p>
                        </div>
                        <div class="col-md-3 col-xs-6 centered">
                            {% include front/skill.html skills=site.data.met_agile %}
                            {% include front/skill.html skills=site.data.met_quality %}
                        </div>
                        <div class="col-md-3 col-xs-6 centered">
                            {% include front/skill.html skills=site.data.met_requirements %}
                            {% include front/skill.html skills=site.data.met_design %}
                            {% include front/skill.html skills=site.data.met_deployment %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="feature-item">
                        <h3>Kommunikation</h3>
                        <div class="col-md-6 col-xs-12 centered">
                            <p class="text-muted">„Komplexität übersteigt die Leistung eines Kopfes. Das Zusammenspiel mehrerer Köpfe braucht Kommunikation“</p>
                            <p class="text-muted">Zelenka David</p>
                            <div class="icon-space"><i class="icon-people text-primary"></i></div>
                            <p class="text-muted">Aufgrund meiner ausgeprägten Kommunikationsfähigkeit, integriere ich mich leicht in bestehende Teams. Ich arbeite mich gerne in komplexe Themengebiete ein und kann dadurch rasch produktiv Leistung erbringen.</p>
                        </div>
                        <div class="col-md-3 col-xs-6 centered">
                            {% include front/skill.html skills=site.data.com_industry %}
                            {% include front/skill.html skills=site.data.com_languages %}
                            {% include front/skill.html skills=site.data.com_personality %}
                        </div>
                        <div class="col-md-3 col-xs-6 centered">
                            {% include front/skill.html skills=site.data.com_interests %}
                            {% include front/skill.html skills=site.data.com_social %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
