---
layout: project
---

<section class="job-section">
    <div class="upper-row">
        <div class="time">01/2016-08/2016</div>
        <div class="job-title">Solutions Architect</div>
        <div class="company">comSysto GmbH</div>
        <div class="content">Technische Teamleitung des Neukunden Onlineshops von o2</div>
    </div>
    <div class="upper-row">
        <div class="time">04/2015-12/2015</div>
        <div class="job-title">Lean Java Expert</div>
        <div class="company">comSysto GmbH</div>
        <div class="content">Entwicklung des Neukunden Onlineshops von o2</div>
    </div>

    <div class="sub-section-title">Aufgaben</div>
    <div class="content">Erstellung von Konzepten und Prototypen</div>
    <div class="content">Umgestaltung des Qualitätsprozesses für Continuous Delivery</div>
    <div class="content">Performance-Analysen und -Optimierungen bei Stabilitätsproblemen</div>
    <div class="content">Anforderungsanalyse, Planung, Schätzung und Umsetzung fachlicher Anforderungen</div>
    <div class="content">Einarbeitung und Coaching neuer Kollegen</div>

    <div class="sub-section-title">Technologien</div>
    <div class="skills-title">Entwicklung Frontend:</div>
    <div class="content">AngularJS, TypeScript, Freemarker, Wicket und Bootstrap</div>
    <div class="skills-title">Entwicklung Backend:</div>
    <div class="content">Java 1.8, Groovy, Spring Core, Spring Data für Redis, und Hibernate für OracleDB</div>
    <div class="skills-title">Entwicklung von Microservices:</div>
    <div class="content"> Spring Boot, Spring Cloud Netflix, Spring Security (OAuth 2), REST Services mit Spring MVC, Messaging mit RabbitMQ, Docker</div>
    <div class="skills-title">Qualitätssicherung:</div>
    <div class="content">JUnit, Mockito, Karma und Jasmine</div>
    <div class="skills-title">Entwicklungsinfrastruktur:</div>
    <div class="content">Git, Maven, Apache Tomcat, Jenkins, Jira, Bitbucket (Stash), IntelliJ IDEA unter macOS</div>
</section>
